.banner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 97px;
  margin-right: 25px;
  input {
    padding: 6px !important;
  }
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: static;
  //padding: 6px !important;
  max-width: 350px !important;
  height: 48px !important;
  left: 0px;
  margin-right: 16px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.icon {
  transform: translate(0px, 5px);
  font-size: 20px;
  color: grey !important;
}

button.ant-button {
  border: 1px solid #4285f4;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  padding: 0 40px;
  font-weight: bold;
  font-size: 16px;
  color: #4285f4;
  line-height: 19px;
  &:hover {
    opacity: 0.8;
  }
}
