.btnViewAll {
  display: flex;
  justify-content: flex-end;
  button {
    border-radius: 4px;
    background-color: #4285f4;
    border-color: #4285f4;
    &:hover {
      background-color: #40a9ff;
    }
  }
}
.center {
  text-align: center;
}
.UserDetail {
  position: relative;
  .userHeader {
    padding-top: 20px;
    margin-bottom: 48px;
    display: flex;
    text-align: center;
    justify-content: center;
    img {
      margin-right: 8px;
    }
  }
  .userInfo {
    max-width: 765px;
    margin: 0 auto;
    [class~='ant-form-item-control-input-content'] {
      .userInfoItem {
        display: flex;
        label {
          flex: 1;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
        }
        input {
          height: 30px;
          width: 100%;
          max-width: 600px;
          border-radius: 4px;
          padding: 4px 16px;
          outline-color: #40a9ff;
        }
      }
    }
  }
  .userMission {
    margin-top: 24px;
    p {
      margin-bottom: 8px;
      margin-top: 0;
    }
    &Item {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
    &Title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
  .btnBack {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.footer {
  margin-top: 177px;
  padding-bottom: 24px;
  .btnConfirm {
    display: inline-block;
    margin-left: 16px;
  }
  button {
    height: 48px;
    padding: 0px 44px;
    border-radius: 4px;
  }
}
.PicLoad {
  width: 5% !important;
}
