.wrapper {
  max-width: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-end;
}
.ant-input-affix-wrapper {
  max-width: 350px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: normal;
  margin: 0px 16px;
  input {
    font-size: 16px;
  }
  svg {
    font-size: 20px;
    color: grey;
  }
}
button.ant-button {
  border: 1px solid #4285f4;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 48px;
  padding: 0 40px;
  font-weight: bold;
  font-size: 16px;
  color: #4285f4;

  &:hover {
    opacity: 0.8;
  }
}
